/* line 1, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_meeting_description, .bbbrails_meeting_description_changed {
  padding: 5px;
  margin-top: 20px;
}
/* line 5, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_meeting_description span.running, .bbbrails_meeting_description_changed span.running {
  color: green;
}
/* line 8, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_meeting_description span.not_running, .bbbrails_meeting_description_changed span.not_running {
  color: #a00000;
}
/* line 12, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_meeting_description .button_bar, .bbbrails_meeting_description_changed .button_bar {
  float: right;
  margin-right: 10px;
  border-left: 1px solid #aaa;
}
/* line 17, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_meeting_description .button_bar a, .bbbrails_meeting_description_changed .button_bar a {
  margin-left: 5px;
}
/* line 22, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_meeting_description .title_bar, .bbbrails_meeting_description_changed .title_bar {
  padding: 5px;
  background: #f0f0f0;
}

/* line 28, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_meeting_description_changed {
  border: 1px solid #d00000;
}

/* line 33, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_countdown {
  float: right;
  padding: 5px;
  margin: 10px;
}

/* line 39, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_meeting_attendees {
  margin-top: 10px;
}
/* line 42, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_meeting_attendees .header, .bbbrails_meeting_attendees .row {
  clear: both;
  border-top: 1px solid #ddd;
}
/* line 46, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_meeting_attendees .header .field, .bbbrails_meeting_attendees .row .field {
  float: left;
  margin: 0 5px 0 0;
  width: 180px;
  padding: 3px;
}
/* line 55, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
.bbbrails_meeting_attendees .header .field {
  font-weight: bold;
}

/*
 * Used in bigbluebutton_servers/index
 */
/* line 66, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
#bbbrails_servers_list, #bbbrails_rooms_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 71, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
#bbbrails_servers_list li, #bbbrails_rooms_list li {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  clear: both;
}
/* line 78, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
#bbbrails_servers_list div.field, #bbbrails_rooms_list div.field {
  margin: 0;
  padding: 0;
  clear: both;
}
/* line 84, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
#bbbrails_servers_list label, #bbbrails_rooms_list label {
  font-weight: bold;
  width: 150px;
  float: left;
  text-align: right;
  margin-right: 10px;
  clear: both;
}

/* line 94, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
#bbbrails_servers_links, #bbbrails_rooms_links {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

/*
 * Used in bigbluebutton_rooms/index
 */
/* line 107, ../../app/assets/stylesheets/bigbluebutton_rails.scss */
#bbbrails_rooms_list label {
  width: 300px;
}
