.button {
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
}

.button:active {
  position: relative;
  top: 1px;
}

.gray_button {
  /* color-related */
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  text-shadow:1px 1px 0px #ffffff;
}

.gray_button:hover, .gray_button:visited, .gray_button:active {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
  color: #777777;
}

.red_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
  box-shadow:inset 0px 1px 0px 0px #fab3ad;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
  background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
  background-color:#fa665a;
  border:1px solid #d83526;
  color:#ffffff;
  text-shadow:1px 1px 0px #98231a;
}

.red_button:hover, .red_button:visited, .red_button:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
  background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
  background-color:#d34639;
  color: #fff;
}

.blue_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  box-shadow:inset 0px 1px 0px 0px #cae3fc;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  background-color:#79bbff;
  border:1px solid #469df5;
  color:#ffffff;
  text-shadow:1px 1px 0px #287ace;
}

.blue_button:hover, .blue_button:visited, .blue_button:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
  background-color:#4197ee;
  color: #fff;
}

.small {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  font-size:11px;
  padding:2px 6px;
}
