body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a { text-decoration: none; color: #000; }
a:visited { color: #666; }
a:hover { color: #006; }

#header {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  padding: 10px;
  color: #444;
}

#header_logo {
  font-weight: bold;
  font-size: 14px;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:1px 1px 0px #fff;
}

#header_logo a { color: #777; }
#header_logo a:hover { color: #66c; }

#header_link {
  color: #444;
  font-style: italic;
}
#header_link a { color: #444; }

#header_login {
  float: right;
  text-align: center;
}

#header_login .block {
  float: left;
  margin-right: 15px;
}

#content {
  padding: 10px;
}




div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.home_webconference_room {
  padding: 5px;
  clear: both;
}

.even {
  background: #f0f0f0;
}

.home_webconference_room .buttons_right {
  float: right;
  margin-left: 10px;
}

.home_webconference_room .buttons_left {
  float: left;
  margin-right: 10px;
}

#home_menu {
  background: #f0f0f0;
  border: 1px solid #ddd;
  padding: 3px;
  margin-bottom: 10px;
}

.clearer {
  clear: both;  
}

