/* line 10, ../../app/assets/stylesheets/forms.scss */
input.string,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input.password,
code,
textarea {
  padding: 3px;
  outline: none;
  color: #333;
  border: 1px solid #d0d0d0;
  background-color: #f7f7f7;
  width: 250px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 19, ../../app/assets/stylesheets/forms.scss */
input.string:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
input.password:focus,
code:focus,
textarea:focus {
  background-color: #fff;
  color: #000;
  border: 1px solid #4f81bd;
}

/* line 28, ../../app/assets/stylesheets/forms.scss */
.simple_form .input {
  margin-bottom: 4px;
  clear: both;
}
/* line 33, ../../app/assets/stylesheets/forms.scss */
.simple_form label {
  float: left;
  margin: 3px 8px 0 0;
  width: 150px;
  text-align: right;
}
/* line 40, ../../app/assets/stylesheets/forms.scss */
.simple_form input[type=submit] {
  margin-left: 160px;
}
/* line 44, ../../app/assets/stylesheets/forms.scss */
.simple_form .hint {
  font-variant: italic;
  margin-left: 5px;
}
