/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 8, ../../app/assets/stylesheets/style.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 13, ../../app/assets/stylesheets/style.scss */
body {
  margin: 0;
  padding: 0;
  color: #222;
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 23, ../../app/assets/stylesheets/style.scss */
a {
  text-decoration: none;
  color: #1f4a75;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #1f4a75;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #000066;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #d83526;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #fa665a;
}

/* line 28, ../../app/assets/stylesheets/style.scss */
h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}

/* line 35, ../../app/assets/stylesheets/style.scss */
h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 8px;
}

/* line 42, ../../app/assets/stylesheets/style.scss */
.flash_standard, .flash_alert, .flash_error, .flash_notice {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 49, ../../app/assets/stylesheets/style.scss */
.flash_alert, .flash_error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4;
}

/* line 56, ../../app/assets/stylesheets/style.scss */
.flash_notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
}

/*******************/
/* line 64, ../../app/assets/stylesheets/style.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 68, ../../app/assets/stylesheets/style.scss */
#notice {
  color: green;
}

/* line 72, ../../app/assets/stylesheets/style.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 78, ../../app/assets/stylesheets/style.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 87, ../../app/assets/stylesheets/style.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

/* line 98, ../../app/assets/stylesheets/style.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/*******************/
