/* line 5, ../../../app/assets/stylesheets/layouts/application.scss */
#header {
  -moz-box-shadow: #666666 0 2px 8px;
  -webkit-box-shadow: #666666 0 2px 8px;
  -o-box-shadow: #666666 0 2px 8px;
  box-shadow: #666666 0 2px 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34618e), color-stop(100%, #1f4a75));
  background-image: -webkit-linear-gradient(top, #34618e, #1f4a75);
  background-image: -moz-linear-gradient(top, #34618e, #1f4a75);
  background-image: -o-linear-gradient(top, #34618e, #1f4a75);
  background-image: -ms-linear-gradient(top, #34618e, #1f4a75);
  background-image: linear-gradient(top, #34618e, #1f4a75);
  height: 55px;
  background-color: red;
  color: #444;
  padding: 5px;
  margin: 0;
}

/* line 16, ../../../app/assets/stylesheets/layouts/application.scss */
#header_content {
  width: 1100px;
  margin: auto;
  color: #ccc;
  padding: 5px;
}
/* line 22, ../../../app/assets/stylesheets/layouts/application.scss */
#header_content a {
  color: #bbbbbb;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_content a:visited {
  color: #bbbbbb;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_content a:focus {
  color: white;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_content a:hover {
  color: white;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_content a:active {
  color: #d83526;
}

/* line 25, ../../../app/assets/stylesheets/layouts/application.scss */
#header_logo {
  float: left;
}
/* line 28, ../../../app/assets/stylesheets/layouts/application.scss */
#header_logo .image {
  float: left;
  margin-right: 10px;
}
/* line 33, ../../../app/assets/stylesheets/layouts/application.scss */
#header_logo .text {
  float: right;
}
/* line 36, ../../../app/assets/stylesheets/layouts/application.scss */
#header_logo .text .title {
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: #222222 1px 1px 0px;
  margin-top: 5px;
}
/* line 44, ../../../app/assets/stylesheets/layouts/application.scss */
#header_logo .text .title a {
  color: #eeeeee;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_logo .text .title a:visited {
  color: #eeeeee;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_logo .text .title a:focus {
  color: white;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_logo .text .title a:hover {
  color: white;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_logo .text .title a:active {
  color: #dddddd;
}
/* line 46, ../../../app/assets/stylesheets/layouts/application.scss */
#header_logo .text .title a:hover {
  text-shadow: #444444 1px 1px 0px;
}
/* line 52, ../../../app/assets/stylesheets/layouts/application.scss */
#header_logo .text .subtitle {
  font-style: italic;
}
/* line 54, ../../../app/assets/stylesheets/layouts/application.scss */
#header_logo .text .subtitle a {
  color: #dddddd;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_logo .text .subtitle a:visited {
  color: #dddddd;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_logo .text .subtitle a:focus {
  color: white;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_logo .text .subtitle a:hover {
  color: white;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_logo .text .subtitle a:active {
  color: #fa665a;
}

/* line 61, ../../../app/assets/stylesheets/layouts/application.scss */
#header_login {
  float: right;
  text-align: center;
}
/* line 65, ../../../app/assets/stylesheets/layouts/application.scss */
#header_login .data {
  margin-bottom: 5px;
}
/* line 68, ../../../app/assets/stylesheets/layouts/application.scss */
#header_login .data .session_links {
  color: #fff;
  padding: 2px 10px;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.25);
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 5px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 5px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 5px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 5px 0px inset;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 76, ../../../app/assets/stylesheets/layouts/application.scss */
#header_login .data .session_links a {
  color: #dddddd;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_login .data .session_links a:visited {
  color: #dddddd;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_login .data .session_links a:focus {
  color: white;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_login .data .session_links a:hover {
  color: white;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p180@bigbluebutton_rails_play/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header_login .data .session_links a:active {
  color: #fa665a;
}
/* line 78, ../../../app/assets/stylesheets/layouts/application.scss */
#header_login .data .session_links .link {
  text-shadow: #222222 1px 1px 0px;
  margin: 0 8px;
}

/* line 86, ../../../app/assets/stylesheets/layouts/application.scss */
#content {
  padding: 10px;
  width: 1100px;
  margin: auto;
}
