@import "common";
@import "compass/css3";
@import "compass/typography/links";

#header {
  @include box-shadow(#666 0 2px 8px);
  @include background-image(linear-gradient(top, #34618e, #1F4A75));

  height: 55px;
  background-color:red;
  color: #444;
  padding: 5px;
  margin: 0;
}

#header_content {
  width: $website-width;
  margin: auto;
  color: #ccc;
  padding: 5px;

  a { @include link-colors(#bbb, #fff, #d83526, #bbb, #fff); }
}

#header_logo {
  float: left;

  .image {
    float: left;
    margin-right: 10px;
  }

  .text {
    float: right;

    .title {
      font-family: arial;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      @include text-shadow(#222 1px 1px 0px);
      margin-top: 5px;

      a {
        @include link-colors(#eee, #fff, #ddd, #eee, #fff);
        &:hover {
          @include text-shadow(#444 1px 1px 0px);
        }
      }
    }

    .subtitle {
      font-style: italic;
      a {
        @include link-colors(#ddd, #fff, #fa665a, #ddd, #fff);
      }
    }
  }
}

#header_login {
  float: right;
  text-align: center;

  .data {
    margin-bottom: 5px;

    .session_links {
      color: #fff;
      padding: 2px 10px;
      background: #202020;
      background-color: rgba(0, 0, 0, 0.25);
      @include box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 5px 0px inset);
      @include border-radius(4px);

      a { @include link-colors(#ddd, #fff, #fa665a, #ddd, #fff); }

      .link {
        @include text-shadow(#222 1px 1px 0px);
        margin: 0 8px;
      }
    }
  }
}

#content {
  padding: 10px;
  width: $website-width;
  margin: auto;
}
