@import "common";
@import "compass/css3";
@import "compass/typography/links";

#header {
  @include box-shadow(#666 2 2px 8px);
  @include background-image(linear-gradient(top, #34618e, #1F4A75));
  color: #444;
  margin: 0;
}

#header_content {
  width: $website-width;
  margin: auto;
  color: #ccc;
  height: $header-height;
}

#header_logo {
  float: left;

  .title {
    float: right;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    @include text-shadow(#222 1px 1px 0px);
    margin-top: 5px;

    a {
      @include link-colors(#eee, #fff, #ddd, #eee, #fff);
      &:hover {
        @include text-shadow(#444 1px 1px 0px);
      }
    }
  }

}

#header_buttons {
  float: right;
  text-align: center;

  .session_button {
    float: left;
    color: #fff;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.07);
    display: block;
    height: $header-height - 10px; // discounts 2xPadding
    font-size: $font-size-bigger;
    border-right: 1px solid #3f6e9d;

    &:hover {
      background-color: rgba(0,0,0, 0.1);
    }
    &:active {
      background-color: rgba(0,0,0, 0.35);
    }
  }
}

#sub_header {
  background-color: #EDEBE1;
  border-bottom: 1px solid #c7c6bd;
  padding: 5px;
}

#sub_header_content {
  height: 35px;
  width: $website-width;
  margin: auto;

  .avatar {
    float: right;
    border: 1px solid #888;

    &:hover {
      border: 1px solid #aaa;
    }
  }

  .user_data {
    text-align: right;
    margin-right: 10px;
    float: right;
    color: #444;
    @include text-shadow(#ddd 1px 1px 0px);

    .user_details {
      font-size: 12px;
    }
    .user_name {
      float: left;
      font-size: 14px;
      margin-right: 5px;
    }

  }

  .menu {
    float: left;

    .menu_button {
      margin-top: 4px;
      margin-right: 10px;
      float: left;
      color: #444;
      padding: 3px 10px;
      font-size: 16px;
      letter-spacing: normal;
      white-space: no-wrap;
      line-height: 22px;
      @include border-radius(4px);


      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
        @include box-shadow(rgba(0, 0, 0, 0.2) 0 0px 5px 0px inset);
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }

}

#content {
  padding: 10px;
  width: $website-width;
  margin: auto;
}
