# Default configurations
default:

  # Website default configuration
  # The information will be used to create the Site object, that defines your website.
  # They can be altered after the initial setup using the management area in the application.
  site:
    name: "Mconf"                              # Website name
    description: "Mconf Website"               # Website description
    domain: "localhost"                        # Your server's IP or name address
    locale: "en"                               # This will be the default locale for the application
    smtp_user_name: "username@gmail.com"
    smtp_password: "secret-password"

# Configurations for each environment
# You can find below the sections for each environment available.
# Uncomment the lines from one of them to define specific configurations for that environment.
# You can copy any of the parameters from the default section and override them here.
# Remember to copy the entire sections: if you want to override "site.smtp_user_name" and
# "admin.username", you must do something like:
#
# development:
#   site:
#     smtp_user_name: "override the SMTP login"
#   admin:
#     username: "my-special-admin"
#
# Also remember to maintain the file indented with 2 spaces. The YML file must be well
# formatted to be valid.

#development:
#  site:
#    name: "Mconf Dev"

#production:
#  site:
#    name: "Mconf Dev"

#test:
#  site:
#    name: "Mconf Dev"
