.button {
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

.gray_button {
  background-color:#ededed;
  border:1px solid #cdcdcd;
  color:#777777;
  text-shadow:1px 1px 0px #ffffff;
}

.gray_button:hover, .gray_button:visited, .gray_button:active {
  -moz-box-shadow:0;
  -webkit-box-shadow:0;
  box-shadow:0;
  background-color:#34618e;
  border:1px solid #1F4A75;
  color:#fff;
  text-shadow:1px 1px 0px #444;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #34618e), color-stop(1, #1F4A75) );
  background:-moz-linear-gradient( center top, #34618e 5%, #1F4A75 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#34618e', endColorstr='#1F4A75');
  background-color:#34618e;
}

.gray_button:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1F4A75), color-stop(1, #34618e) );
  background:-moz-linear-gradient( center top, #1F4A75 5%, #34618e 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F4A75', endColorstr='#34618e');
}




.gray_button_2 {
  background-color:#34618e;
  border:1px solid #1F4A75;
  color:#fff;
  text-shadow:1px 1px 0px #000;
}

.gray_button_2:hover, .gray_button_2:visited, .gray_button_2:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #34618e), color-stop(1, #1F4A75) );
  background:-moz-linear-gradient( center top, #34618e 5%, #1F4A75 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#34618e', endColorstr='#1F4A75');
  background-color:#34618e;
  border:1px solid #469df5;
}
.gray_button_2:hover { color: #fff; }
.gray_button_2:active { color: #777; }







.red_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
  box-shadow:inset 0px 1px 0px 0px #fab3ad;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
  background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
  background-color:#fa665a;
  border:1px solid #d83526;
  color:#ffffff;
  text-shadow:1px 1px 0px #98231a;
}

.red_button:hover, .red_button:visited, .red_button:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
  background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
  background-color:#d34639;
  color: #fff;
}

.blue_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  box-shadow:inset 0px 1px 0px 0px #cae3fc;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  background-color:#79bbff;
  border:1px solid #469df5;
  color:#ffffff;
  text-shadow:1px 1px 0px #287ace;
}

.blue_button:hover, .blue_button:visited, .blue_button:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
  background-color:#4197ee;
  color: #fff;
}

.small {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  font-size:11px;
  padding:2px 7px;
}
