@import "common";
@import "compass/css3";

.default_button {
  font-family: arial;
  font-size: $font-size-default;
  font-weight: bold;
  padding: 2px 6px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  @include border-radius(3px);
}

.gray_button {
  @extend .default_button;
  background-color:#ededed;
  border:1px solid #cdcdcd;
  color:#777;
  @include text-shadow(#fff 1px 1px 0px);

  &:visited { color: #777; }

  &:hover, &:focus {
    background-color:#34618e;
    border:1px solid #1F4A75;
    color:#fff;
    background-color:#34618e;
    @include text-shadow(#444 1px 1px 0px);
    @include background-image(linear-gradient(top, #34618e, #1F4A75));
  }

  &:active {
    @extend .gray_button:hover;
    @include background-image(linear-gradient(top, #1F4A75, #34618e));
  }
}

.button {
  @extend .gray_button;
}

.red_button {
  @extend .default_button;
  background-color:#fa665a;
  border:1px solid #d83526;
  color: #fff;
  @include text-shadow(#98231a 1px 1px 0px);

  &:visited { color: #fff; }

  &:hover, &:focus {
    color: #fff;
    background-color:#fa665a;
    border:1px solid #b34940;
    @include text-shadow(#444 1px 1px 0px);
    @include background-image(linear-gradient(top, #fa4a3c, #d32d1d));
  }

  &:active {
    @extend .red_button:hover;
    @include background-image(linear-gradient(top, #d32d1d, #fa4a3c));
  }
}

.blue_button {
  @extend .default_button;
  background-color:#79bbff;
  border:1px solid #469df5;
  color:#fff;
  @include text-shadow(#287ace 1px 1px 0px);

  &:visited { color: #fff; }

  &:hover, &:focus {
    background-color:#34618e;
    border:1px solid #1F4A75;
    color:#fff;
    background-color:#34618e;
    @include text-shadow(#444 1px 1px 0px);
    @include background-image(linear-gradient(top, #34618e, #1F4A75));
  }

  &:active {
    @extend .blue_button:hover;
    @include background-image(linear-gradient(top, #1F4A75, #34618e));
  }
}

.small {
  @include border-radius(3px);
  font-size:11px;
  padding: 0 5px;
}
