html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a { text-decoration: none; color: #000; }
a:visited { color: #666; }
a:hover { color: #006; }

.flash_alert, .flash_notice, .flash_error {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.flash_alert, .flash_error { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4; }
.flash_notice { background:#FFF6BF; color:#514721; border-color:#FFD324; }

#header {
  -moz-box-shadow:#666 0px 2px 8px 0;
  -webkit-box-shadow:#666 0px 2px 8px 0;
  box-shadow:#666 0px 2px 8px 0;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #34618e), color-stop(1, #1F4A75) );
  background:-moz-linear-gradient( center top, #34618e 5%, #1F4A75 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#34618e', endColorstr='#1F4A75');

  height: 55px;
  background-color:red;
  color: #444;
  padding: 5px;
  margin: 0;
}

#header_content {
  width: 1200px;
  margin: auto;
}

#header_logo_image {
  float: left;
  margin-right: 10px;
}

#header_logo_text {
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:1px 1px 0px #333;
  margin-top: 5px;
}

#header_logo_text a { color: #eee; }
#header_logo_text a:hover {
  color: #fff;
  text-shadow:1px 1px 0px #555;
}

#header_link {
  color: #bbb;
  font-style: italic;
}
#header_link a { color: #bbb; }
#header_link a:hover { color: #fff; }

#header_login {
  float: right;
  text-align: center;
}

#header_login .data {
  float: left;
  margin-left: 5px;
}

#header_login .data .button_area {
  display: block;
  margin-bottom: 5px;
}

#content {
  padding: 10px;
  width: 1200px;
  margin: auto;
}




div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.home_webconference_room {
  padding: 5px;
  clear: both;
  border: 1px solid white;
}

.home_webconference_room_even {
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.home_webconference_room:hover {
/*  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #34618e), color-stop(1, ) );
  background: #c6d6e7;
*/
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
}

.home_webconference_room .buttons_right {
  float: right;
  margin-left: 10px;
}

.home_webconference_room .buttons_left {
  float: left;
  margin-right: 10px;
}

.home_webconference_details {
  /*border: 1px solid red;*/
  margin-top: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  clear: both;
  padding: 5px;
  display: none;
}

.home_webconference_details h4 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.home_webconference_details .field {
  margin: 0;
  clear: both;
}

.home_webconference_details label {
  clear: left;
  float: left;
  width: 250px;
  text-align: right;
  margin-right: 10px;
  margin-left: 30px;
  font-weight: bold;
}

.home_webconference_details .value {
}

.home_webconference_name {
  display: block;
  font-weight: bold;
  color: #444;
}

.home_webconference_name:hover, .home_webconference_name:active {
  color: black;
}

#home_menu {
  background: #f0f0f0;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 10px;
}

#home_menu a, #home_menu span {
  font-weight: bold;
  font-size: 12px;
  font-family:arial;
  text-decoration:none;
  text-shadow:1px 1px 0px #fff;
  color: #777;
  padding: 3px 6px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
}
#home_menu a:hover {
  color: #333;
  background: #ddd;
}

.clearer {
  clear: both;
}

