@import "compass/css3";

input.string,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input.password,
code,
textarea {
  padding: 3px;
  outline: none;
  color: #333;
  border: 1px solid #d0d0d0;
  background-color: #f7f7f7;
  width: 250px;
  @include border-radius(3px);

  &:focus {
    background-color: #fff;
    color: #000;
    border: 1px solid #4f81bd;
  }
}

.simple_form {

  .input {
    margin-bottom: 4px;
    clear: both;
  }

  label {
    float: left;
    margin: 3px 8px 0 0;
    width: 150px;
    text-align: right;
  }

  input[type=submit] {
    margin-left: 160px;
  }

  .hint {
    font-variant: italic;
    margin-left: 5px;
  }

}