@import "common";
@import "compass/css3";
@import "compass/reset";
@import "compass/typography/links";

@include global-reset;

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: $font-size-default;
  line-height: 18px;
}

a {
  text-decoration: none;
  @include link-colors(#1F4A75, #d83526, #fa665a, #1F4A75, #006);
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 8px;
}

.flash_standard {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  @include border-radius(5px);
}

.flash_alert, .flash_error {
  @extend .flash_standard;
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

.flash_notice {
  @extend .flash_standard;
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}

/*******************/
div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*******************/
