@import "common";
@import "compass/css3";
@import "compass/reset";
@import "compass/typography/links";

@include global-reset;

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  text-decoration: none;
  @include link-colors(#1F4A75, #d83526, #fa665a, #1F4A75, #006);
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}


.flash_standard {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  @include border-radius(5px);
}

.flash_alert, .flash_error {
  @extend .flash_standard;
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

.flash_notice {
  @extend .flash_standard;
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}

#header {
  @include box-shadow(#666 0 2px 8px);
  @include background-image(linear-gradient(top, #34618e, #1F4A75));

  height: 55px;
  background-color:red;
  color: #444;
  padding: 5px;
  margin: 0;
}

#header_content {
  width: $website-width;
  margin: auto;
  color: #ccc;
  padding: 5px;

  a { @include link-colors(#bbb, #fff, #d83526, #bbb, #fff); }
}

#header_logo {
  float: left;

  .image {
    float: left;
    margin-right: 10px;
  }

  .text {
    float: right;

    .title {
      font-family: arial;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      @include text-shadow(#222 1px 1px 0px);
      margin-top: 5px;

      a {
        @include link-colors(#eee, #fff, #ddd, #eee, #fff);
        &:hover {
          @include text-shadow(#444 1px 1px 0px);
        }
      }
    }

    .subtitle {
      font-style: italic;
      a {
        @include link-colors(#ddd, #fff, #fa665a, #ddd, #fff);
      }
    }
  }
}

#header_login {
  float: right;
  text-align: center;

  .data {
    margin-bottom: 5px;

    .session_links {
      color: #fff;
      padding: 2px 10px;
      background: #202020;
      background-color: rgba(0, 0, 0, 0.25);
      @include box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 5px 0px inset);
      @include border-radius(4px);

      a { @include link-colors(#ddd, #fff, #fa665a, #ddd, #fff); }

      .link {
        @include text-shadow(#222 1px 1px 0px);
        margin: 0 8px;
      }
    }
  }
}

#content {
  padding: 10px;
  width: $website-width;
  margin: auto;
}

.home_webconference_room {
  clear: both;

  .buttons_right {
    float: right;
    margin: 5px 10px;
  }
  .buttons_left {
    float: left;
    margin: 5px 10px;
  }
}

.home_webconference_room_even {
  @extend .home_webconference_room;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.home_webconference_details {
  margin-top: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  clear: both;
  padding: 5px;
  display: none;

  h4 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }

  .field {
    margin: 0;
    clear: both;
  }

  label {
    clear: left;
    float: left;
    width: 250px;
    text-align: right;
    margin-right: 10px;
    margin-left: 30px;
    font-weight: bold;
  }
}

.home_webconference_name {
  display: block;
  font-weight: bold;
  color: #444;
  padding: 5px;

  &:hover, &:active {
    color: black;
  }
}

#home_menu {
  background: #f0f0f0;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 10px;

  a, span {
    font-weight: bold;
    font-size: 12px;
    font-family:arial;
    text-decoration:none;
    @include text-shadow(#fff 1px 1px 0px);
    color: #777;
    padding: 3px 6px;
    @include border-radius(4px);
  }

  a:hover {
    color: #333;
    background: #ddd;
  }
}

.clearer {
  clear: both;
}


/*******************/
div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*******************/
