= content_for :page_header_extra do
  = link_to t("edit"), edit_site_path, :class => "btn btn-primary"
= render_page_title t(".page_title")

-# = render :partial => 'manage/menu'

-# = content_for :sidebar do
-#   .affix-top{ :"data-spy" => "affix", :"data-offset-top" => "160" }
-#     = link_to t('button.edit'), edit_site_path, :class => "btn btn-primary btn-block"

#manage
  = render :partial => 'sites/form', :action => "show"
